<div class="tab-pane fade show active" id="edit-item" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="card shadow mb-4 mt-2">
        <div class="card-body">
            <form action="/admin/item/<%= item.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter title"
                        value="<%= item.title%>" required />
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter price"
                        value="<%= item.price%>" required />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter city" value="<%= item.city%>"
                        required />
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="categoryId">
                        <% for(let i = 0; i< category.length; i++){ %>
                        <option value="<%= category[i].id %>"
                            <%- (category[i].id == item.categoryId._id) ?  "selected" : " "  %>>
                            <%= category[i].name %>
                        </option>

                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" placeholder="Enter title" multiple />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="desc" class="form-control"><%= item.description %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
